<div class="navbar">
  <a href="<%= brands_path %>" class="a-tag"><%= image_tag "map-btn.png", width: 40, class: 'boxshadow img-navbar' %></a>
  <%= image_tag "filter.png", width: 50, class: "trigger_popup_filter img-navbar"%>
  <a href="<%= dashboards_path %>" class="a-tag"><%= image_tag "profile-btn.png", width: 40, class:"img-navbar" %></a>
</div>
