<div class="dashboard">
  <div class="user-el">
    <%= cl_image_tag current_user.photo.key.nil? ? 'https://res.cloudinary.com/dr8v0dbbd/image/upload/v1622108206/users/woman2.jpg' : current_user.profile_pic, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <h2 class="mt-3"><%= @user.first_name %> <%= @user.last_name %></h2>
    <small>@<%= @user.username %></small>
    <hr>
    <p class="mt-3"><%= link_to "Edit",  edit_user_registration_path, class: "btn-edit" %></p>
  </div>
  <div class="suggest-brand">
    <hr>
    <%= link_to "Suggest a brand",  new_brand_path, class: "btn-edit" %>
    <div class="mt-3">
      <span class="mb-3 d-block"><small><em class="text-muted m-3"><%= "You haven't suggested any brands yet!" if current_user.brands.empty? %></em></small></span>
    </div>
    <% current_user.brands.each do |brand| %>
      <div class="m-3" data-aos="zoom-in">
        <% if brand.status == "Pending" %>
          <div class="card-trip">
            <%= cl_image_tag brand.photo.key %>
            <div class="card-trip-infos">
                <h2 class=""><%= brand.name %></h2>
                <p><i class="fas fa-map-marker-alt coloured-bar"></i> <%= brand.address%></p>
                <p> <i class="fas fa-circle pending" aria-hidden="true"></i>Pending verification</p>
            </div>
          </div>
        <%elsif brand.status == "Accepted" %>
          <div class="card-trip">
            <%= cl_image_tag brand.photo.key, class:"img-filter"%>
            <div class="card-trip-infos">
              <h2 class=""><%= brand.name %></h2>
              <p class=""><i class="fas fa-map-marker-alt coloured-bar"> <%= brand.address %></i></p>
              <p> <i class="fas fa-circle confirmed" aria-hidden="true">Thank you for your suggestion. <%= brand.address %> is now listed. <%= link_to 'Check it out here', brand_path %></i></p>
            </div>
          </div>
        <%elsif brand.status == "Rejected" %>
          <div class="card-trip">
            <%= cl_image_tag brand.photo.key %>
            <div class="card-trip-infos">
              <h2><%= brand.name %></h2>
              <p class=""><i class="fas fa-map-marker-alt coloured-bar"> <%= brand.address %></i></p>
              <p> <i class="fas fa-circle rejected" aria-hidden="true"></i>We're sorry, <%= brand.name %> didn't meet our sustainability rating standards. </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "Delete your account", dashboard_path(current_user), method: :delete, data: { confirm: "Are you sure you want to delete your account?"}, class:"btn-edit" %>
</div>
