<div id="map"
     style="width: 100%; height: 92vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class = "banner-search">

  <div>
    <%= form_tag brands_path, method: :get do %>
      <%= text_field_tag :query,
                         params[:query],
                         class: "search-input",
                         placeholder: "Enter an address"
      %>
      <% end %>
    </div>
</div>
<a class="trigger_popup_fricc"><i class="fas fa-chevron-down"></i></a>

<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
      <div class="popupCloseButton">&times;</div>
        <% if false %>
        <div class="popupCloseButton">&times;</div>
          <ul class="badge_icons mt-3">
            <li class="mb-2"><a href='#' id='filter-all'><%#= image_tag 'https://i.pinimg.com/originals/ff/57/7a/ff577abcece6041ac716068c1a449c72.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-vegan'><%#= image_tag 'https://www.pinclipart.com/picdir/big/175-1754142_hot-food-organic-pepper-chili-vegetarian-vegan-vegetarian.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-good-cause'><%#= image_tag 'https://img.icons8.com/ios/452/charity.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-fair-trade'><%#= image_tag 'https://www.pngkey.com/png/full/310-3106375_celebrating-fairtrade-fortnight-fair-trade-logo-png.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-co-2'><%#= image_tag 'https://cdn1.iconfinder.com/data/icons/eco-food-and-cosmetic-labels/128/Artboard_63-2-512.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-organic'><%#= image_tag 'https://image.flaticon.com/icons/png/512/25/25091.png', style: 'height:40px;width:40px' %></a></li>
            <li><a href='#' id='filter-second-hand'><%#= image_tag 'https://cdn0.iconfinder.com/data/icons/eco-friendly-lifestyle-glyph/64/second-hand-t-shirt-reuse-eco-lifestyle-eco-friendly-512.png', style: 'height:40px;width:40px' %></a></li>
         </ul>
         </div>
        <% end %>
        <div>
          <%= form_with url: "/brands", method: :get do |form| %>
          <div class="sliderContainer">
            <div class="slideLabel">
            <%= image_tag "good-badge.png", class: "badge-img"%>
            <%= form.label :good, "Good Cause"%>
          </div>
            <div class="slide">
              <span id = "valueGood"></span>
              <%= form.range_field :good, in: 1..100, class: 'slider', id:'myRangeGood', value: '1'%>
          </div>
          </div>
          <div class="sliderContainer">
          <div class="slideLabel">
            <%= image_tag "fair-trade.png", class: "badge-img"%>
            <%= form.label :fair, "Fair Trade" %>
          </div>
            <div class="slide">
            <span id = "valueFair"></span>
            <%= form.range_field :fair, in: 1..100, class: 'slider', id:'myRangeFair', value: '1'%>
            </div>
          </div>
          <div class="sliderContainer">
            <div class="slideLabel">
            <%= image_tag "co2-badge.png", class: "badge-img"%>
            <%= form.label :co2, "Carbon Neutral" %>
          </div>
            <div class="slide">
            <span id = "valueCO2"></span>
            <%= form.range_field :co2, in: 1..100, class: 'slider', id:'myRangeCO2', value: '1'%>
              </div>
            </div>
          <div class="sliderContainer">
            <div class="slideLabel">
              <%= image_tag "organic-badge.png", class: "badge-img"%>
              <%= form.label :organic, "Organic Fabrics" %>
            </div>
            <div class="slide">
            <span id = "valueOrganic"></span>
            <%= form.range_field :organic, in: 1..100, class: 'slider', id:'myRangeOrganic', value: '1'%>
              </div>
            </div>
            <hr>
          <div class="checkPol">
            <%= image_tag "vegan-badge.png", class: "badge-img"%>
            <%= form.label :vegan%>
            <%= form.check_box :vegan%>
          </div>
            <%= form.submit "Search" %>
          <% end %>
        </div>
        <hr>
        <div>
          <%= form_with url: "/brands", method: :get do |form| %>
          <div class="checkPol">
            <%= image_tag "second-hand-badge.png", class: "badge-img"%>
            <%= form.label :hand2, "Second Hand"%>
            <%= form.check_box :hand2, id:'filter-second-hand' %>
            <br>
              </div>
            <%= form.submit "Search" %>
          <% end %>
        </div>
        </div>
      </div>
</div>
        <% if false %>
            <div id='map-ui'>
                  <ul>
                    <li class="mb-2"><a href='#' id='filter-vegan'><%= image_tag 'https://www.pinclipart.com/picdir/big/175-1754142_hot-food-organic-pepper-chili-vegetarian-vegan-vegetarian.png', style: 'height:30px;width:30px' %></a></li>
                    <li class="mb-2"><a href='#' id='filter-all'><%= image_tag 'https://i.pinimg.com/originals/ff/57/7a/ff577abcece6041ac716068c1a449c72.png', style: 'height:30px;width:30px' %></a></li>
                    <li class="mb-2"><a href='#' id='filter-good-cause'><%= image_tag 'https://img.icons8.com/ios/452/charity.png', style: 'height:30px;width:30px' %></a></li>
                    <li class="mb-2"><a href='#' id='filter-fair-trade'><%= image_tag 'https://www.pngkey.com/png/full/310-3106375_celebrating-fairtrade-fortnight-fair-trade-logo-png.png', style: 'height:30px;width:30px' %></a></li>
                    <li class="mb-2"><a href='#' id='filter-co-2'><%= image_tag 'https://cdn1.iconfinder.com/data/icons/eco-food-and-cosmetic-labels/128/Artboard_63-2-512.png', style: 'height:30px;width:30px' %></a></li>
                    <li class="mb-2"><a href='#' id='filter-organic'><%= image_tag 'https://image.flaticon.com/icons/png/512/25/25091.png', style: 'height:30px;width:30px' %></a></li>
                    <li class="mb-2"><a href='#' id='filter-second-hand'><%= image_tag 'https://cdn0.iconfinder.com/data/icons/eco-friendly-lifestyle-glyph/64/second-hand-t-shirt-reuse-eco-lifestyle-eco-friendly-512.png', style: 'height:30px;width:30px' %></a></li>
                  </ul>
            </div>
        <% end %>

<div class="hover_bkgr_filter">
    <span class="helper"></span>
      <%# <div class="popupCloseButtonFilter ">&times;</div> %>
        <div class="container">
          <p class="popupCloseButtonFilter ">x</p>
          <div class="filterBar" >
            <%= image_tag "vegan-badge.png", width:50, id: "vegan-filter" %>
            <%= image_tag "co2-badge.png", width:50, id: "co2-filter" %>
            <%= image_tag "fair-trade.png", width:50, id: "fair-trade-filter" %>
            <%= image_tag "organic-badge.png", width:50, id: "organic-filter" %>
            <%= image_tag "good-badge.png", width:50, id: "good-cause-filter" %>
            <%= image_tag "second-hand-badge.png", width:50, id: "second-hand-filter" %>
          </div>
        </div>
</div>

