<div id="map"
     style="width: 100%; height: 92vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<<<<<<< HEAD
<!-- <%# <a class="trigger_popup_fricc"><%= image_tag "setting-lines.png", width: 30 %></a> %> -->
=======
<div class = "banner">
  <div>
    <%= form_tag brands_path, method: :get do %>
      <%= text_field_tag :query,
                         params[:query],
                         class: "search-input",
                         placeholder: "Enter an address"
      %>
      <%= button_tag(type: "submit", class: "search-button") do %>
        <i class="fas fa-search-location"></i>
      <% end %>
      <% end %>
    </div>
</div>

<%# <a class="trigger_popup_fricc"><%= image_tag "setting-lines.png", width: 30 %></a> 
>>>>>>> c38d878a3f59f5826b7a0a6355920e67f65f4a40

<!-- <div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">&times;</div>
          <ul class="badge_icons mt-3">
            <li class="mb-2"><a href='#' id='filter-all'><%#= image_tag 'https://i.pinimg.com/originals/ff/57/7a/ff577abcece6041ac716068c1a449c72.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-vegan'><%#= image_tag 'https://www.pinclipart.com/picdir/big/175-1754142_hot-food-organic-pepper-chili-vegetarian-vegan-vegetarian.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-good-cause'><%#= image_tag 'https://img.icons8.com/ios/452/charity.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-fair-trade'><%#= image_tag 'https://www.pngkey.com/png/full/310-3106375_celebrating-fairtrade-fortnight-fair-trade-logo-png.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-co-2'><%#= image_tag 'https://cdn1.iconfinder.com/data/icons/eco-food-and-cosmetic-labels/128/Artboard_63-2-512.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-organic'><%#= image_tag 'https://image.flaticon.com/icons/png/512/25/25091.png', style: 'height:40px;width:40px' %></a></li>
            <li><a href='#' id='filter-second-hand'><%#= image_tag 'https://cdn0.iconfinder.com/data/icons/eco-friendly-lifestyle-glyph/64/second-hand-t-shirt-reuse-eco-lifestyle-eco-friendly-512.png', style: 'height:40px;width:40px' %></a></li>
         </ul>
        </div>
      </div>
</div> -->
<div id='map-ui'>
    <ul>
        <li class="mb-2"><a href='#' id='filter-vegan'><%= image_tag 'https://www.pinclipart.com/picdir/big/175-1754142_hot-food-organic-pepper-chili-vegetarian-vegan-vegetarian.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-all'><%= image_tag 'https://i.pinimg.com/originals/ff/57/7a/ff577abcece6041ac716068c1a449c72.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-good-cause'><%= image_tag 'https://img.icons8.com/ios/452/charity.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-fair-trade'><%= image_tag 'https://www.pngkey.com/png/full/310-3106375_celebrating-fairtrade-fortnight-fair-trade-logo-png.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-co-2'><%= image_tag 'https://cdn1.iconfinder.com/data/icons/eco-food-and-cosmetic-labels/128/Artboard_63-2-512.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-organic'><%= image_tag 'https://image.flaticon.com/icons/png/512/25/25091.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-second-hand'><%= image_tag 'https://cdn0.iconfinder.com/data/icons/eco-friendly-lifestyle-glyph/64/second-hand-t-shirt-reuse-eco-lifestyle-eco-friendly-512.png', style: 'height:30px;width:30px' %></a></li>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  $(window).load(function () {
    $(".trigger_popup_fricc").click(function(){
       $('.hover_bkgr_fricc').show();
    });
    $('.hover_bkgr_fricc').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
});
</script>
