<div id="map"
     style="width: 100%; height: 92vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- <%# <a class="trigger_popup_fricc"><%= image_tag "setting-lines.png", width: 30 %></a> %> -->
<div class = "banner">
  <div>
    <%= form_tag brands_path, method: :get do %>
      <%= text_field_tag :query,
                         params[:query],
                         class: "search-input",
                         placeholder: "Enter an address"
      %>
      <%= button_tag(type: "submit", class: "search-button") do %>
        <i class="fas fa-search-location"></i>
      <% end %>
      <% end %>
    </div>
</div>

<%# <a class="trigger_popup_fricc"><%= image_tag "setting-lines.png", width: 30 %></a>

<%# <a class="trigger_popup_fricc"><%= image_tag "setting-lines.png", width: 30 %></a>

<a class="trigger_popup_fricc"><%= image_tag "setting-lines.png", width: 30 %></a>

<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <% if false %>
        <div class="popupCloseButton">&times;</div>
          <ul class="badge_icons mt-3">
            <li class="mb-2"><a href='#' id='filter-all'><%#= image_tag 'https://i.pinimg.com/originals/ff/57/7a/ff577abcece6041ac716068c1a449c72.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-vegan'><%#= image_tag 'https://www.pinclipart.com/picdir/big/175-1754142_hot-food-organic-pepper-chili-vegetarian-vegan-vegetarian.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-good-cause'><%#= image_tag 'https://img.icons8.com/ios/452/charity.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-fair-trade'><%#= image_tag 'https://www.pngkey.com/png/full/310-3106375_celebrating-fairtrade-fortnight-fair-trade-logo-png.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-co-2'><%#= image_tag 'https://cdn1.iconfinder.com/data/icons/eco-food-and-cosmetic-labels/128/Artboard_63-2-512.png', style: 'height:40px;width:40px' %></a></li>
            <li class="mb-2"><a href='#' id='filter-organic'><%#= image_tag 'https://image.flaticon.com/icons/png/512/25/25091.png', style: 'height:40px;width:40px' %></a></li>
            <li><a href='#' id='filter-second-hand'><%#= image_tag 'https://cdn0.iconfinder.com/data/icons/eco-friendly-lifestyle-glyph/64/second-hand-t-shirt-reuse-eco-lifestyle-eco-friendly-512.png', style: 'height:40px;width:40px' %></a></li>
         </ul>
         </div>
        <% end %>
        <div>
          <%= form_with url: "/brands", method: :get do |form| %>
            <%= form.label :good, "good cause" %>
            <%= form.range_field :good, in: 1..5 %>
            <%= form.label :fair, "fair trade" %>
            <%= form.range_field :fair, in: 1..5 %>
            <%= form.label :co2, "carbon footprint" %>
            <%= form.range_field :co2, in: 1..5 %>
            <%= form.label :organic, "organic fabrics" %>
            <%= form.range_field :organic, in: 1..5 %>
            <br>
            <%= form.label :vegan, "vegan" %>
            <%= form.check_box :vegan, class: "className className2" %>
            <br>
            <%= form.submit "Search" %>
          <% end %>
        </div>
        <div>
          <%= form_with url: "/brands", method: :get do |form| %>
            <br>
            <%= form.label :hand2, "2nd hand" %>
            <%= form.check_box :hand2 %>
            <br>
            <%= form.submit "Search" %>
          <% end %>
        </div>
      </div>
</div>
<div id='map-ui'>
      <ul>
        <li class="mb-2"><a href='#' id='filter-vegan'><%= image_tag 'https://www.pinclipart.com/picdir/big/175-1754142_hot-food-organic-pepper-chili-vegetarian-vegan-vegetarian.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-all'><%= image_tag 'https://i.pinimg.com/originals/ff/57/7a/ff577abcece6041ac716068c1a449c72.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-good-cause'><%= image_tag 'https://img.icons8.com/ios/452/charity.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-fair-trade'><%= image_tag 'https://www.pngkey.com/png/full/310-3106375_celebrating-fairtrade-fortnight-fair-trade-logo-png.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-co-2'><%= image_tag 'https://cdn1.iconfinder.com/data/icons/eco-food-and-cosmetic-labels/128/Artboard_63-2-512.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-organic'><%= image_tag 'https://image.flaticon.com/icons/png/512/25/25091.png', style: 'height:30px;width:30px' %></a></li>
        <li class="mb-2"><a href='#' id='filter-second-hand'><%= image_tag 'https://cdn0.iconfinder.com/data/icons/eco-friendly-lifestyle-glyph/64/second-hand-t-shirt-reuse-eco-lifestyle-eco-friendly-512.png', style: 'height:30px;width:30px' %></a></li>
      </ul>
</div>
