<div class="container">
  <div class="row">

      <img src="https://source.unsplash.com/collection/12277519/640x426" width=100%>

  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-5"><%= @brand.name %></h1>
      <p class="text-muted"><%= @brand.description %></p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="icon">
    <%= image_tag "carbon-footprint.png", width: 50 %>
    <%#= @brand.brand_policies.joins(:policy).find_by('policy.title ILIKE ?',"Carbon Footprint")%>
    <%= image_tag "fair-trade.png", width: 40 %>
    <%= image_tag "plant-based.png", width: 40 %>
    <%= image_tag "solidarity.png", width: 40 %>
  </div>
</div>
<br>
<div class="container">
  <h5>Reviews</h5>
    <div class="row">
      <div class="col-12">
        <div class="text-muted">
          <% @brand_reviews.each do |review| %>
            <div class= "reviews"><%= review.content %></div>
            <hr/>
           <!--  <tr>
                <td><%#= link_to 'Edit', edit_brand_review_path(@brand, review) %></td>
                <td><%#= link_to 'Delete', @brand, method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr> -->
          <% end %>
        </div>
      </div>
    </div>
</div>
<br>
<%=render 'shared/reviewform' %>
