<div class="container">
  <div class="row image-brand">
      <%= cl_image_tag @brand.photo.key, class:"brand-image", :crop=>"fill" %>
  </div>
  <% if @user.exists? %>
    <div class="favourites">
      <% unless @user.favorite_brands.exists?(id: @brand.id) %>
        <%= link_to favorite_brands_path(brand_id: @brand), method: :post do %>
          <i class="far fa-heart heart-custom"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_brand_path(@brand), method: :delete do %>
          <i class="fas fa-heart heart-custom"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br>
    <div class="title-review d-flex">
      <h3 class="mt-3"><%= @brand.name %></h3>
    </div>
  <p> <%= @brand.address %></p>
    <div class="icon">
        <% @brand_policies.each do |brand|  %>
        <% if brand.policy.title == "Vegan" %>
          <div class="brand-policy-icon">
            <%= image_tag "vegan-badge.png", width:50 %>
            <span class="badge badge-secondary" ><%= brand.ranking  %></span>
          </div>
        <% elsif  brand.policy.title == "Carbon Footprint" %>
          <div class="brand-policy-icon">
            <%= image_tag "co2-badge.png", width:50 %>
            <span class="badge badge-secondary" ><%= brand.ranking  %></span>
          </div>
        <% elsif  brand.policy.title == "Fair Trade" %>
          <div class="brand-policy-icon">
            <%= image_tag "fair-trade.png", width:50 %>
            <span class="badge badge-secondary" ><%= brand.ranking  %></span>
          </div>
        <% elsif  brand.policy.title == "Organic Fabrics" %>
          <div class="brand-policy-icon">
            <%= image_tag "organic-badge.png", width:50 %>
            <span class="badge badge-secondary"><%= brand.ranking  %></span>
          </div>
        <% elsif  brand.policy.title == "Good Cause" %>
          <div class="brand-policy-icon">
            <%= image_tag "good-badge.png", width:50 %>
            <span class="badge badge-secondary" ><%= brand.ranking  %></span>
          </div>
        <% elsif  brand.policy.title == "Second Hand" %>
          <div class="brand-policy-icon">
            <%= image_tag "second-hand-badge.png", width:50 %>
            <span class="badge badge-secondary" ><%= brand.ranking  %></span>
          </div>
        <% end %>
      <% end %>
    </div>

<br>
   <div class="d-flex space-between">
    <div class="social-container">
      <h6 class="m-2 share">Share</h6>
      <a href="https://twitter.com/intent/tweet?url=www.treen.xyz&text=I have discovered @<%= raw @brand.name %> which is a great sustainable shop on this amazing app. Check it out:"  onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;" class= "social-icon">
          <i class="fab fa-twitter m-1"></i>
      </a>
    </div>
    <div class="social-container">
      <h6 class="m-2 share">Share</h6>
      <a href="https://www.facebook.com/sharer/sharer.php?u=www.treen.xyz" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;" class="social-icon">
          <i class="fab fa-facebook-f m-1"></i>
      </a>
    </div>
  </div>
<br>
  <p class="text-muted"><%= @brand.description %></p>
  <div class="reviewform">
    <h5>Reviews</h5>
    <%=render 'shared/reviewform' %>
  </div>
  <div class="text-muted mb-5">
    <div class="reviews d-flex">
      <% @brand_reviews.each do |review| %>
        <div class="stars">
        <% review.rating.times do %>
                <i class="fa fa-star" aria-hidden="true" ></i>
                <% end %>
                <% (5- review.rating).times do %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end %>
        <p>@<%= review.user.username %> <br> <%= review.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


